body {
    background-color: #2b2b2b;
    color: #a3a3a3;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

hr {
    margin: 40px;
}

a {
    color: #5d2f86; /* Change la couleur des liens en violet */
    text-decoration: none; /* Supprime le soulignement des liens */
}

a:hover {
    color: #77588c; /* Change la couleur des liens au survol en indigo */
}





#sidebar {
    position: fixed;
    width: 200px;
    background-color: #1a1a1a;
    overflow: auto;
    border-radius: 10px; /* Ajoute des coins arrondis à la barre latérale */
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li a {
    display: block;
    padding: 20px; /* Augmentez cette valeur pour plus d'espace entre les liens */
    color: #a3a3a3;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background-color: #4b0082;
    color: white;
}

#sidebar ul li a.active {
    background-color: #542280; /* Couleur de fond pour l'élément actif */
    color: white; /* Couleur du texte pour l'élément actif */
}

#content {
    margin-left: 200px;
    padding: 10px;
}

#header-content {
    padding-right: 10px;
    padding-top: 10px;
}

#auth-links {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

#auth-links a {
    color: #dadada; /* Change la couleur des liens en blanc */
    text-decoration: none; /* Supprime le soulignement des liens */
}

#auth-links a:hover {
    color: #5d2f86; /* Change la couleur des liens au survol en violet */
    text-decoration: underline; /* Souligne les liens au survol */
}


#form_register {
    color: #212121;
    padding: 20px;
    padding-right: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #6b6b6b;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

#form_register label {
    display: block;
    margin-top: 10px;
}

#form_register input {
    width: 96%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form_register button {
    width: 100%;
    padding: 10px;
    background-color: #5d2f86;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
}

#form_register button:hover {
    background-color: #77588c;
}





#div_login{
    background-color: #6B6B6BFF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#form_login {
    background-color: #6b6b6b;
    color: #000000;
}

#form_login label {
    display: block;
    margin-top: 10px;
}

#form_login input {
    width: 96%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form_login button {
    width: 100%;
    padding: 10px;
    background-color: #5d2f86;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
}

#form_login button:hover {
    background-color: #77588c;
}


.top-margin {
    margin-bottom: 50px; /* Ajustez cette valeur pour contrôler l'espace */
}

.bot-margin {
    margin-top: 50px; /* Ajustez cette valeur pour contrôler l'espace */
}

.text_link {
    color: #745c8d; /* Change la couleur des liens en violet */
    text-decoration: underline; /* Souligne les liens */
}

.text_link:hover {
    color: #8d5c86; /* Change la couleur des liens au survol en indigo */
}

.title {
    margin-bottom: 75px;
}



.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-item {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #a3a3a3;
}

.product-item img {
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    object-fit: contain; /* Ensure the image covers the area without distortion */
    background-color: #1a1a1a; /* Set the background color for the bands */
    margin-bottom: 15px;
}

.product-item h3 {
    margin-bottom: 15px;
}

.product-item p {
    margin: 5px 0;
}

.product-item button {
    background-color: #5d2f86;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.product-item button:hover {
    background-color: #77588c;
}



/* Styles pour le popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.username {
    color: #ff5733; /* Change the text color */
    font-weight: bold; /* Make the text bold */
    font-size: 1.2em; /* Increase the font size */
    text-shadow: 1px 1px 2px #000; /* Add a text shadow */
}


/* styles.css */
.creator {
    border: 1px solid #444; /* Darker border to match the gray theme */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #3a3a3a; /* Darker gray background */
    color: #a3a3a3; /* Light gray text color */
}

.creator h2 {
    color: #fff; /* White color for the headings */
    margin-bottom: 10px;
}

.creator p {
    margin: 5px 0;
}

.creator a {
    color: #82629b; /* Violet color for links */
    text-decoration: none;
}

.creator a:hover {
    text-decoration: underline;
}