<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DarkWebSite{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div id="header-content">
            <div id="auth-links">
                {% if 'username' in session %}
                    <a href="/logout">Logout</a>
                    <a href="/account" class="username">{{ session['username'] }}</a>
                {% else %}
                    <a href="/register">Register</a>
                    <a href="#" id="loginBtn">Login</a>
                {% endif %}
            </div>
        </div>
    </header>
    <div id="loginPopup" class="popup">
        <div class="popup-content" id = "div_login">
            <span class="close">&times;</span>
            <form action="/login" method="post" id="form_login">

                <div id="error_message" style="color: red; font-weight: bold; text-align: center"></div>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" list="usernameList" required>
                <datalist id="usernameList"></datalist>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <div id="sidebar">
        <ul>
            <li class="top-margin"><a href="/" class="{% if request.path == '/' %}active{% endif %}">Accueil</a></li>
            <li><a href="/drogues" class="{% if request.path == '/drogues' %}active{% endif %}">Drogues</a></li>
            <li><a href="/armes" class="{% if request.path == '/armes' %}active{% endif %}">Armes</a></li>
            <li><a href="/papiers" class="{% if request.path == '/papiers' %}active{% endif %}">Papiers</a></li>
            <li><a href="/services" class="{% if request.path == '/services' %}active{% endif %}">Services</a></li>
            <li><a href="/autres" class="{% if request.path == '/autres' %}active{% endif %}">Autres</a></li>
            <li class="bot-margin"><a href="/communaute" class="{% if request.path == '/communaute' %}active{% endif %}">Communauté</a></li>
            <li><a href="/contact" class="{% if request.path == '/contact' %}active{% endif %}">Contact</a></li>
        </ul>
    </div>

    {% if 'username' in session %}
    <div id="cart">
        <h2>Votre Panier</h2>
        <ul>
            {% with cart_items = get_user_cart(session['username']) %}
                {% for item in cart_items %}
                    <li>
                        <a href="{{ url_for('product_details', category_name=item.category_name, product_id=item.product_id) }}">
                            <img src="{{ url_for('static', filename=item.image) }}" alt="{{ item.name }}" width="50">
                            {{ item.name }} ({{ item.quantity }})
                        </a>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    </div>
    {% endif %}

    <div id="content">
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </div>
    {% block script %}<script src="{{ url_for('static', filename='scripts.js') }}"></script>{% endblock %}
</body>
</html>