{% extends "base.html" %}

{% block title %}DarkWebSite - Contact{% endblock %}

{% block content %}
    <h1 class="title">Contactez-nous</h1>

    <p>Si vous avez des questions ou des commentaires, vous pouvez nous contacter via les informations suivantes :</p>

    <div class="creator">
        <h2>GUEYDON Sacha</h2>
        <p><strong>Email:</strong> <a href="mailto:sacha.gueydon@etudiant.univ-rennes.fr">sacha.gueydon@etudiant.univ-rennes.fr</a></p>
        <p><strong>Téléphone:</strong> +33 06 75 46 07 03</p>
        <p><strong>Formation:</strong> L2 à l'ISTIC de Rennes1</p>
        <p><strong>Rôle:</strong> Développeur & concepteur-secondaire</p>
        <p><strong>Bio:</strong> Sacha est un développeur passionné avec plus de 10 ans d'expérience dans le développement web.</p>
    </div>

    <div class="creator">
        <h2>BONNCHERE Gael</h2>
        <p><strong>Email:</strong> <a href="mailto:gael.bonnechere@etudiant.univ-rennes.fr">gael.bonnechere@etudiant.univ-rennes.fr</a></p>
        <p><strong>Téléphone:</strong> +33 ?? ?? ?? ?? ??</p>
        <p><strong>Formation:</strong> L2 à l'ISTIC de Rennes1</p>
        <p><strong>Rôle:</strong> Concepteur & développeur-secondaire</p>
        <p><strong>Bio:</strong> Gael est un expert en sécurité informatique avec une vaste expérience dans le domaine.</p>
    </div>
{% endblock %}