{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Bienvenue sur DarkWebSite</h1>

    <h2>Mise en contexte</h2>
    <p>Nous avons créé ce site web dynamique pour le module WEB en informatique.
    Nous sommes deux étudiants en informatique et ne vendons pas réellement les produits affichés ici,
    merci de votre compréhension. La page <a class="text_link" href="/contact">contact</a> contient nos informations si vous souhaitez faire une réclamation.</p>

    <h2>Nos catégories de produits</h2>
    <ul>
        <li><a href="/drogues">Drogues</a></li>
        <li><a href="/armes">Armes</a></li>
        <li><a href="/papiers">Papiers</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/autres">Autres</a></li>
        <li><a href="/communaute">Communauté</a></li>
    </ul>
{% endblock %}